{{ define "partials/_edit_rsvp_form.tmpl" }}
    <div class="card" id="editRsvpCard">
        {{ $viewData := . }}
        {{ $rsvpData := $viewData.SelectedItemForEdit }}
        {{ $eventData := $viewData.Event }}
        <div class="card-header">
            <h4 class="mb-0">Edit RSVP: {{ $rsvpData.Name }} (Event: {{ $eventData.Title }})</h4>
            <a href="{{ $viewData.URLForRSVPActions }}?{{ $viewData.ParamNameEventID }}={{ $eventData.ID }}"
               class="btn btn-sm btn-outline-secondary">Cancel Edit</a>
        </div>
        <form id="editRSVPForm" action="{{ $viewData.URLForRSVPActions }}" method="POST">
            <input type="hidden" name="{{ $viewData.ParamNameMethodOverride }}" value="PUT">
            <input type="hidden" name="{{ $viewData.ParamNameRSVPID }}" value="{{ $rsvpData.ID }}">
            <input type="hidden" name="{{ $viewData.ParamNameEventID }}" value="{{ $eventData.ID }}">
            <div class="card-body">
                <div class="form-group mb-3">
                    <label for="editNameInput">Name:</label>
                    <input type="text" class="form-control" id="editNameInput" name="{{ $viewData.ParamNameName }}"
                           required value="{{ $rsvpData.Name }}">
                </div>
                <div class="row mb-3">
                    <div class="form-group col-md-6">
                        <label for="editResponseSelect">Response Status:</label>
                        <select class="form-select" id="editResponseSelect" name="{{ $viewData.ParamNameResponse }}">
                            <option value="" {{ if eq $rsvpData.Response "" }}selected{{ end }}>Pending</option>
                            <option value="Yes" {{ if eq $rsvpData.Response "Yes" }}selected{{ end }}>Yes</option>
                            <option value="No"
                                    {{ if or (eq $rsvpData.Response "No") (eq $rsvpData.Response "No,0") }}selected{{ end }}>
                                No
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="editExtraGuestsSelect">Additional Guests:</label>
                        <select class="form-select" id="editExtraGuestsSelect"
                                name="{{ $viewData.ParamNameExtraGuests }}"
                                {{ if ne $rsvpData.Response "Yes" }}disabled{{ end }}>
                            <option value="0" {{ if eq $rsvpData.ExtraGuests 0 }}selected{{ end }}>0 (Just Me)</option>
                            <option value="1" {{ if eq $rsvpData.ExtraGuests 1 }}selected{{ end }}>1</option>
                            <option value="2" {{ if eq $rsvpData.ExtraGuests 2 }}selected{{ end }}>2</option>
                            <option value="3" {{ if eq $rsvpData.ExtraGuests 3 }}selected{{ end }}>3</option>
                            <option value="4" {{ if eq $rsvpData.ExtraGuests 4 }}selected{{ end }}>4</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="d-flex justify-content-between align-items-center p-3">
            <div>
                <form id="deleteRSVPForm_{{ $rsvpData.ID }}" action="{{ $viewData.URLForRSVPActions }}" method="POST"
                      class="d-inline">
                    <input type="hidden" name="{{ $viewData.ParamNameMethodOverride }}" value="DELETE">
                    <input type="hidden" name="{{ $viewData.ParamNameRSVPID }}" value="{{ $rsvpData.ID }}">
                    <input type="hidden" name="{{ $viewData.ParamNameEventID }}" value="{{ $eventData.ID }}">
                    <button type="submit" class="btn btn-delete">Delete RSVP</button>
                </form>
            </div>
            <div>
                <button type="submit" form="editRSVPForm" class="btn btn-primary">Update RSVP</button>
                <a href="{{ $viewData.URLForRSVPQRBase }}?{{ $viewData.ParamNameRSVPID }}={{ $rsvpData.ID }}"
                   class="btn btn-outline-info qr-button">View QR Code</a>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const responseSelectElement = document.getElementById('editResponseSelect');
                const extraGuestsSelectElement = document.getElementById('editExtraGuestsSelect');

                function toggleExtraGuests() {
                    if (responseSelectElement.value === 'Yes') {
                        extraGuestsSelectElement.disabled = false;
                    } else {
                        extraGuestsSelectElement.disabled = true;
                        extraGuestsSelectElement.value = "0";
                    }
                }

                if (responseSelectElement && extraGuestsSelectElement) {
                    responseSelectElement.addEventListener('change', toggleExtraGuests);
                    toggleExtraGuests();
                }
            });
        </script>
    </div>
{{ end }}
