{{ define "partials/footer" }}
    <footer class="text-center mt-auto">
        <div class="container-fluid px-0">
            <p class="mb-0">© 2025 Marko Polo Research Lab. All rights reserved.</p>
        </div>
    </footer>
{{ end }}