{{ define "partials/header" }}
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex">
            <a class="navbar-brand px-3" href="{{ .URLForHorizon }}">{{ .HorizonLabel }}</a>
            <a class="navbar-brand px-3" href="{{ .URLForEventsManager }}">{{ .EventsManagerLabel }}</a>
            <a class="navbar-brand px-3" href="{{ .URLForVenueManager }}">{{ .VenueManagerLabel }}</a>
        </div>
        <details class="user-menu" data-user-menu>
            <summary aria-label="Open user menu">
                <img src="{{ .UserPicture }}" alt="User avatar" class="rounded-circle">
                <span>{{ if .UserName }}{{ .UserName }}{{ else }}Account{{ end }}</span>
            </summary>
            <div class="user-menu-dropdown">
                {{ template "header-settings" .Data }}
                <form action="{{ .URLForLogout }}" method="POST">
                    <button type="submit" class="user-menu-sign-out">{{ .LabelSignOut }}</button>
                </form>
            </div>
        </details>
    </div>
</nav>
{{ end }}

{{ define "header-settings" }}{{ end }}
