{{ define "layout" }}
<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
 <title>{{ block "title" .Data }}RSVP{{ end }}</title>
 <link rel="stylesheet" href="/static/app.css">
 {{ block "head" .Data }}{{ end }}
 {{ if not .IsPublicPage }}<link rel="stylesheet" href="{{ .SettingsStylesURL }}">{{ end }}
</head>
<body>
 {{ if not .IsPublicPage }}{{ template "partials/header" . }}{{ template "partials/settings-dialog" .Settings }}{{ end }}
 <main><div class="container layout-container">{{ block "content" .Data }}{{ end }}</div></main>
 {{ block "scripts" .Data }}{{ end }}
 {{ if not .IsPublicPage }}<script src="{{ .SettingsScriptURL }}"></script>{{ end }}
 <script>
 window.addEventListener("load", function () {
   ["https://loopaware.mprlab.com/widget.js?site_id=50bc3012-27c7-4fbd-8307-81dee1da50f7", "https://loopaware.mprlab.com/pixel.js?site_id=50bc3012-27c7-4fbd-8307-81dee1da50f7"].forEach(function (source) {
    const script = document.createElement("script"); script.src = source; document.head.appendChild(script);
   });
 });
 </script>
</body>
</html>
{{ end }}
