<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>All RSVP Responses</title>
</head>

<body>
    <h1>RSVP Responses</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Response</th>
            <th>Extra Guests</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Email}}</td>
            <td>{{.Response}}</td>
            <td>{{.ExtraGuests}}</td>
        </tr>
        {{end}}
    </table>
</body>

</html>