<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RSVP</title>
</head>
<body>
    <h1>RSVP for {{ . }}</h1>
    <form action="/submit" method="POST">
        <input type="hidden" name="email" value="{{ . }}">
        <!-- If the user clicks one of the Yes buttons, we include the +X in the value -->
        <button type="submit" name="response" value="Yes,1">Yes, +1</button>
        <button type="submit" name="response" value="Yes,2">Yes, +2</button>
        <button type="submit" name="response" value="Yes,3">Yes, +3</button>
        <button type="submit" name="response" value="Yes,4">Yes, +4</button>
        <button type="submit" name="response" value="No,0">No</button>
    </form>
</body>
</html>
